USE [Super_store]
GO
/****** Object:  Table [dbo].[Super store Analysis]    Script Date: 29-03-2026 22:25:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Super store Analysis](
	[order_date] [date] NOT NULL,
	[ship_date] [date] NOT NULL,
	[ship_mode] [nvarchar](50) NOT NULL,
	[customer_name] [nvarchar](50) NOT NULL,
	[segment] [nvarchar](50) NOT NULL,
	[state] [nvarchar](50) NOT NULL,
	[country] [nvarchar](50) NOT NULL,
	[market] [nvarchar](50) NOT NULL,
	[region] [nvarchar](50) NOT NULL,
	[category] [nvarchar](50) NOT NULL,
	[product_name] [varchar](max) NOT NULL,
	[sales] [smallint] NOT NULL,
	[quantity] [tinyint] NOT NULL,
	[profit] [float] NOT NULL,
	[shipping_cost] [float] NOT NULL,
	[order_priority] [nvarchar](50) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
